<html>
    <head>
        {% if title %}
        <title>{{ title }} - yelp_lv</title>
        {% else %}
        <title> Me and you, where to eat? !</title>
        {% endif %}
    </head>
    <body  style = "background-image: url('static/image/fish.jpg'); background-size: cover; background-position: center; text-align: center">
        <div> <h1 style  = "text-align: center; color: red ">Me and you, where to eat? </h1>: <a href="/index">Home</a></div>
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </body>
</html>